In [1]:
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

pd.options.mode.chained_assignment = None

### Задание 1

In [2]:
data = pd.read_csv('d:/repository/Netology/06_DSML/lab_01_logistic_regression/adult.csv')

In [3]:
data.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       46043 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      46033 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capitalgain     48842 non-null  int64
 11  capitalloss     48842 non-null  int64
 12  hoursperweek    48842 non-null  int64
 13  native-country  47985 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [5]:
le = LabelEncoder()

In [6]:
x = data[["education-num", "relationship", "capitalgain"]]
x["relationship"] = le.fit_transform(x["relationship"])

y = le.fit_transform(data["class"])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

#### Логистическая регрессия

In [7]:
model_lr = LogisticRegression()
model_lr.fit(x_train, y_train)

LogisticRegression()

In [8]:
print("Точность предсказания (обучающая выборка): ", round(model_lr.score(x_train, y_train), 4))
print("Точность предсказания (тестовая выборка) : ", round(model_lr.score(x_test, y_test), 4))

Точность предсказания (обучающая выборка):  0.8135
Точность предсказания (тестовая выборка) :  0.8141

#### Метод опорных векторов

In [9]:
model_svc = make_pipeline(StandardScaler(), SVC())
model_svc.fit(x_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()), ('svc', SVC())])

In [10]:
print("Точность предсказания (обучающая выборка): ", round(model_svc.score(x_train, y_train), 4))
print("Точность предсказания (тестовая выборка) : ", round(model_svc.score(x_test, y_test), 4))

Точность предсказания (обучающая выборка):  0.8398
Точность предсказания (тестовая выборка) :  0.8423