In [1]:
import pandas as pd

### Задание 1

In [2]:
data = pd.read_csv("d:\\study\\netology\\notebook\\lab_12_pandas\\rating.csv")

filtered_data = data[(data["rating"] == 5)]
best_movie = filtered_data["movieId"].value_counts().head(1)

print(best_movie)

318    31896
Name: movieId, dtype: int64

### Задание 2

In [3]:
data = pd.read_csv("d:\\study\\netology\\notebook\\lab_12_pandas\\power.csv")

data.query("country == 'Latvia' | country == 'Lithuania' | country == 'Estonia'", inplace=True)
data.query("category == 4 | category == 12 | category == 21", inplace=True)
data.query("2005 <= year <= 2010", inplace=True)
data.query("quantity > 0", inplace=True)

print("Суммарное потребление:", data["quantity"].sum())

Суммарное потребление: 240580.0

### Задание 3

In [4]:
page_url = "https://fortrader.org/quotes"

print(pd.read_html(page_url)[2])

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 834      -1.00         -0.00        NaN
1  Серебро Цена на серебро на бирже  27.32       0.11          0.40        NaN
2         Палладий Цена на Палладий  2 322       2.00          0.00        NaN
3           Платина Цены на платину  1 219      29.00          2.00        NaN
4           Медь Цена меди на бирже   3.77       0.05          1.43        NaN